@model IList<EnterpriseCore.Entities.Employee>

@{
    //ViewBag.Title = "_Elements";
    Layout = null; //"~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_QueryTime") <h5>@Model.Count records in this lot</h5>

@if (Model != null && Model.Count > 0)
{
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Programming Rating</th>            
            <th>Email</th>
            <th>Delete</th>
        </tr>

        @foreach (var item in Model)
    {                  
        <tr>           
            <td>
                @Ajax.ActionLink(item.Name, "Edit", "Employee", new { id = item.Id },
            new AjaxOptions
            {
                UpdateTargetId = "divContent",
                HttpMethod = "Get",
                InsertionMode = InsertionMode.Replace,
                LoadingElementId = "divLoading"
            })</td>
            <td>@item.ProgrammingRating.DenormalizedName</td>
            <td>@item.Email</td>
            <td>
                @Ajax.ActionLink("Delete", "Delete", "Employee", new { id = item.Id },
            new AjaxOptions
            {
                UpdateTargetId = "divContent",
                HttpMethod = "Get",
                InsertionMode = InsertionMode.Replace,
                LoadingElementId = "divLoading",
                Confirm = string.Format("Are you sure, you want ot delete '{0}'", item.Name),
            })</td>
        </tr>
        }
    
    </table>
}
else
{    
    <br />
    @Html.Label("NO DATA FOUND")
}
