<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/themes/base/jquery.ui.all.css" rel="stylesheet" />
    <link href="~/Content/themes/base/MXWeb.css" rel="stylesheet" />
</head>
<body>
    <table>
        <tr>
            <td class="leftMenu">
                <!--Put menu items here -->
            
                @Ajax.ActionLink("My Employees", "Index", "Employee",
            new AjaxOptions
            {
                UpdateTargetId = "divContent",
                HttpMethod = "Get",
                InsertionMode = InsertionMode.Replace,
                LoadingElementId = "divLoading",
            })
                <br />
                 @Ajax.ActionLink("My Clients", "Index", "Client", new { area = "Sales" },
            new AjaxOptions
            {
                UpdateTargetId = "divContent",
                HttpMethod = "Get",
                InsertionMode = InsertionMode.Replace,
                LoadingElementId = "divLoading",
            }, null)
                <br />
            @Ajax.ActionLink("Product Catalog", "Index", "Book", new { area = "Sales" },
            new AjaxOptions
            {
                UpdateTargetId = "divContent",
                HttpMethod = "Get",
                InsertionMode = InsertionMode.Replace,
                LoadingElementId = "divLoading",
            }, null)
                <br />
            @Ajax.ActionLink("About Me", "About", "Home",
            new AjaxOptions
            {
                UpdateTargetId = "divContent",
                HttpMethod = "Get",
                InsertionMode = InsertionMode.Replace,
                LoadingElementId = "divLoading",
            })
                <br />
                <div id="divLoading" style="display: none;">
                        @*@Html.JQueryUI().Progressbar(null)*@
                        <img src="~/Content/themes/base/images/wait.gif" />
                </div>    

            </td>
            <td style="vertical-align:top;">
                <div id="divContent" style="margin-left:2%;">
                    @RenderBody()
                </div>
            </td>
        </tr>
    </table>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/MatrixWebScript.js"></script>
    @RenderSection("scripts", required: false)

</body>
</html>


<script type="text/javascript">
   
</script>

