@model IList<Matrix.Entities.MongoEntities.Client>

@{
    //ViewBag.Title = "_Elements";
    Layout = null; //"~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_QueryTime")

<h2>My Clients</h2>
<div>
<b>Note</b>: Saving a new client is critical to us. We cannot afford to loose out on potential business; hence creating a new client is queued to RabbitMQ. 
    <br />
    Do not forget to run the subscriber application at "..\Matrix.Processor\bin\Debug\Matrix.Processor.exe". You can run multiple instances of the subscriber as well.
    If you do not see the just added client, please refresh the listing here  
    @Ajax.ActionLink("Refresh", "Index", "Client", null,
            new AjaxOptions
            {
                UpdateTargetId = "divContent",
                HttpMethod = "Get",
                InsertionMode = InsertionMode.Replace,
                LoadingElementId = "divLoading",
            })
</div>
<br />
@Ajax.ActionLink("Add A New Client", "Create", null,
            new AjaxOptions
            {
                UpdateTargetId = "divContent",
                HttpMethod = "Get",
                InsertionMode = InsertionMode.Replace,
                LoadingElementId = "divLoading"
            }, new { @class="nav" })<br /><br />


@if (Model != null && Model.Count > 0)
{
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Code</th>     
            <th>Type</th>         
            <th>Phone</th>            
            <th>Website</th>
            <th>Revision</th>
        </tr>

        @foreach (var item in Model)
    {                  
        <tr>           
            <td>
                @Ajax.ActionLink(item.Name, "CompleteDetails", "Client", 
            new { 
                    id = item.Id,
            },
            new AjaxOptions
            {
                UpdateTargetId = "divContent",
                HttpMethod = "Get",
                InsertionMode = InsertionMode.Replace,
                LoadingElementId = "divLoading"
            })</td>
            <td>@item.Code</td>
            <td>@item.ClientType.DenormalizedName</td>
            <td>@item.PhoneNumber</td>
            <td>@item.Website</td>
            <td>@item.Version</td>
        </tr>
        }
    
    </table>
}
else
{    
    <br />
    @Html.Label("NO DATA FOUND")
}
